body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.white{
	background-color: white !important;
    color: black!important;
}

nav ul li a{
  color: black;
}   

.container{
    width:90%;
}

.eilute {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.stulpelis {
    color: #8c8c8c;
    display: flex;
    flex: 21%;
    flex-direction: column;
    border: 1px solid #d9d9d9;
    box-shadow: 3px 2px #d9d9d9;
    margin: 10px;

}

.pavadinimas {
    font-size: 20px;
    color: solid grey;
    margin: 20px 0px;
    padding: 0 10px;
}

.aprasymas {
    font-size: 12px;
    padding: 20px 10px;
    text-align: justify;
    padding-bottom: 100px;
}

.data, .laikas {
    padding: 0 10px;
    font-size:12px;
}


.nuotrauka img {
    width: 100%; 
    padding: 10px;
}

@media screen and (max-width: 768px){
    .eilute{
        flex-direction: column;
    }
    .stulpelis{
        width: 100%;
    }
}
